<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @document.body %>
</p>

<%= link_to 'Edit', edit_category_document_path(@category.id, @document.id) %> |
<%= link_to 'Back', category_path(@category.id) %>
