<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @document.body %>
</p>

<%= link_to 'Edit', edit_group_category_document_path(@group.id,@category.id, @document.id) %> |
<%= link_to 'Back', group_category_path(@group.id, @category.id) %>
