<p id="notice"><%= notice %></p>


  <h3><%=  link_to @category.name, categories_path %> <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_category_path(@category) %> </h3>



<h1>Listing documents</h1>

  <ul>
    <% @category.documents.each do |document| %>
      <li>
          <%= link_to document.name , category_document_path(@category.id, document.id) %>
          <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_category_document_path(@category.id, document.id) %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, category_document_path(@category.id, document.id) , method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
    </ul>

<br>

<%= link_to 'New Document', new_category_document_path(@category.id) %>
